node_modules/
.next/
out/
.source/
*.tsbuildinfo

# Cloudflare / Wrangler
.wrangler/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local

.nvmrc
next-env.d.ts
.yalc/
yalc.lock